<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Team of App-Factory web site</title>
    <!-- CSS only -->
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>








        .fa {
            padding: 20px;
            text-align: center;
            margin: 5px 2px;
            font-size: 25px;
            width: 25px;
        }

        .fa-facebook {
           
            color: black;
        }

        .fa-twitter {
          
            color: black;
        }

        .fa-pinterest {
            
            color: black;
        }

        .fa-linkedin {
          
            color: black;
        }

        .fa-instagram {
           
            color: black;
        }

        .fa-youtube {
           
            color: black;
        }

        .fa-google {
          
            color: black;
        }

        .fa-snapchat-ghost {
            
            color: black;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }

        .fa-skype {
         
            color: black;
        }

        .fa:hover {
            opacity: 0.9;
        }














        #foo {
          position:relative;
            left: 0;
            bottom:-200px ;
            width: 100%;
       
        }

       
    </style>

    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
         
                </button>
             
            </div>
            <div class="navbar-collapse collapse">
                
                <ul class="nav navbar-nav">

                    <li>
               
                        <img src="~/photo/group.png" class="img-circle" width="100" height="50" />
                    </li>
                    <li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("login", "login", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
       
        <footer id="foo" class="jumbotron">
            
                <center>
                    <table>
                        <tr>

                            <td style="width:100px"> @Html.ActionLink("Home", "Index", "Home")</td>

                            <td style="width:100px">@Html.ActionLink("About", "About", "Home")</td>

                            <td style="width:100px">@Html.ActionLink("Contact", "Contact", "Home")</a></td>

                            <td style="width:100px"><a href=" ">News</a></td>

                            <td style="width:100px"><a href=" ">Gallary</a></td>

                            <td style="width:100px"><a href=""> Info</a></td>

                        </tr>
                        <tr>

                            <td><a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"> </a> </td>


                            <td> <a href="#" target="_blank" class="fa fa-twitter"> </a></td>


                            <td> <a href="#" target="_blank" class="fa fa-pinterest"> </a></td>


                            <td><a href="#" target="_blank" class="fa fa-linkedin"> </a></td>
                            <td> <a href="#" class="fa fa-youtube"> </a></td>


                            <td><a href="#" class="fa fa-snapchat-ghost"> </a></td>

                        </tr>
                    </table>

                </center>

                <center><h3><b><i>&copy; @DateTime.Now.Year - team of App-Factory</i></b></h3></center>

            </footer>
      
</div>
    

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
